.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.form-group nb-input,
.form-group textarea {
  font-size: 14px;
  padding: 8px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.form-group nb-select {
  font-size: 14px;
  width: 100%;
  height: auto;
  background-color: transparent;
  color: #333;
}

.form-group textarea {
  resize: vertical;
}
