<div class="container" *ngIf="drink">
  <a class="image">
    <img src="{{drink.drinkPhotos.smallPhoto}}" alt="{{drink.name}}" routerLink="/drink-details/{{drink.id}}">
  </a>
  <div class="drink-block">
    <div class="drink-header" style="position: relative;">
      <div routerLink="/drink-details/{{drink.id}}">{{drink.name}}</div>
      <div class="drink-header__status" *ngIf="status">
        <nb-badge class="drink-header__status__badge" text="{{status}}" [status]="getColorByStatus(status)" position="top end"></nb-badge>
      </div>
    </div>
    <div class="drink-info">

      <div class="drink-info__rating" *ngIf="!ratingFromUser; else userRating">
        <div class="drink-info__rating__label">Rating of tasting club: {{drink.rating}}</div>
        <star-rating [value]="drink.rating" [totalstars]="10" checkedcolor="yellow" uncheckedcolor="gray" size="24px" [readonly]="true"></star-rating>
      </div>
      <ng-template #userRating>
        <div class="drink-info__rating" *ngIf="ratingFromUser">
          <span class="drink-info__rating__number">{{ratingFromUser}}</span>
          <div>
            <div class="drink-info__rating__label">Your rating:</div>
            <star-rating [value]="ratingFromUser" [totalstars]="10" checkedcolor="yellow" uncheckedcolor="gray" size="24px" [readonly]="false" (rate)="onRate($event)"></star-rating>
          </div>
        </div>
      </ng-template>


      <ul class="list-description">
        <li>
          <span class="drink-info-description">Region:</span>
          <a>{{drink.producingCountry.name}}</a>
        </li>
        <li>
          <span class="drink-info-description">Producer:</span>
          <a> {{drink.producer.name}}</a>
        </li>
        <li>
          <span class="drink-info-description">Brand:</span>
          <a>{{drink.brand.name}}</a>
        </li>
        <li>
          <span class="drink-info-description">Strength:</span>
          <a>{{drink.alcoPrecentage}}%</a>
        </li>
        <li>
          <span class="drink-info-description">Type:</span>
          <a>{{drink.drinkType.title}}</a>
        </li>
      </ul>
      <div *ngIf="degustationDate" class="review-container">
        <div class="review-block" *ngIf="review; else reviewNotExists">
          <div class="review-block__label">Review:</div>
          <div>{{review}}</div>
        </div>
        <ng-template #reviewNotExists>
          <div class="review-block">
            <div class="review-block__label">Review:</div>
            <div class="empty-review">You haven't left a review yet</div>
          </div>
        </ng-template>
        <div class="review-block">
          <div class="review-block__label">Date of your last degustation: </div>
          <div>{{degustationDate | date}}</div>
        </div>
      </div>
    </div>
    <div class="drink-actions" *ngIf="!status; else changeReview">
      <button nbButton size="large" status="primary" (click)="onAddToMyDrinksButton()">Add to My Drinks</button>
    </div>
    <ng-template #changeReview>
      <div class="drink-actions">
        <button nbButton size="large" status="primary" (click)="openDialog()">Change Review</button>
      </div>
    </ng-template>
  </div>
</div>
