.card-header {
  position: relative;
  transition: background-color 0.3s;
}

.card-header:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.group-photo-container {
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.group-photo {
  width: 100%;
  height: auto;
}



.badge {
  margin: 8px 10px 0 0;
}

.card-item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}
